<html>
  <head> </head>
  <body>
    <div>
      <table style="width: 100%; border: 1px solid black;">
        <tr>
          <th colspan="2" style="text-align: start;">PI No- </th>
          <th rowspan="12">BARCODE</th>
        </tr>
        <tr>
          <td>Supplier:</td>
          <td>NULL</td>
        </tr>
        <tr>
          <td>Factory Name:</td>
          <td>NULL</td>
        </tr>
        <tr>
          <td>Fabric Ref:</td>
          <td>NULL</td>
        </tr>
        <tr>
          <td>Shipping To:</td>
          <td>NULL</td>
        </tr>
        <tr>
          <td>Roll No:</td>
          <td>130990809</td>
        </tr>
        <tr>
          <td>Program:</td>
          <td>NULL</td>
        </tr>
        <tr>
          <td>Color:</td>
          <td>S.Black</td>
        </tr>
        <tr>
          <td>QTY(Yds):</td>
          <td>81</td>
        </tr>
        <tr>
          <td>N.W(Kg):</td>
          <td>49.33</td>
        </tr>
        <tr>
          <td>G.W(Kg):</td>
          <td>50.14</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;font-size: larger; font-family: Arial; font-weight: bold;">Made In Bangladesh</td>
        </tr>
      </table>
    </div>
  </body>
  <footer></footer>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      justify-content: center;
      font-size: large;
    }
    </style>
</html>
